# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
.venv/
ENV/

# Environment variables & secrets
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
